<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<body>
<th:block layout:fragment="content">

    <h2>Welcome to Aero Swift Travel Agency Website!</h2>
    <div class="jumbotron">
        <p class="lead">Aero Swift is a leading online travel agency that helps today’s business and leisure travellers search,
            compare and book the best flight, hotel and car options with all your favourite airline and accommodation suppliers.
            With a huge focus on affordable travel and simplifying the travel booking experience for our customers,
            visit the Aero Swift website or use the Aero Swift mobile app, to find some of the lowest fares around.
            Pay quickly and safely online with your preferred payment method and you’re off!</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>
    </p>
</th:block>
</body>
</html>